/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}


body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 15px;
  line-height: 22.5px;
  background-color: #fff;
  color: #9E9AA8;
}

img {
  max-width: 100%;
  height: auto;
}


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* HEADER */

.site-header {
}

.site-header__container {
  margin-top: 48px;
}

.site-header__navbar {
  display: flex;
  justify-content: space-between;
}
.navbar-main-links {
  display: flex;
  align-items: center;
}
.logo-link {
  margin-right: 45px;
}

.navbar-links {
  display: flex;
}

.navbar-links__link a {
  color: #9E9AA8;
}

.navbar-links h4:not(:last-child) {
  margin-right: 30px;
}

.navbar-registrations {
  display: flex;
  align-items: center;

}

.login {
  margin-right: 37px;
}

.login a {
  color: #9E9AA8;
}

.button-primary {
  background-color: #2BD0D0;
  padding: 8px 23px;
  color: #fff;
  border-radius: 28px;
}



/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}






@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
